In [3]:
import pandas as pd

In [23]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [4]:
prices_2020_url = 'http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2020.csv'

In [7]:
prices_2020 = pd.read_csv(prices_2020_url, header=None)

In [8]:
prices_2020.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,{9FF0D969-FE3D-11ED-E053-6C04A8C06383},309000,2020-02-07 00:00,NR29 4BQ,D,N,F,HILL COTTAGE,NaN,OLD CHAPEL ROAD,WINTERTON ON SEA,GREAT YARMOUTH,GREAT YARMOUTH,NORFOLK,A,A
1,{9FF0D969-FE3E-11ED-E053-6C04A8C06383},343250,2020-01-17 00:00,NR6 5QD,S,N,F,37,NaN,WOOD VIEW ROAD,HELLESDON,NORWICH,BROADLAND,NORFOLK,A,A
2,{9FF0D969-FE3F-11ED-E053-6C04A8C06383},440000,2020-02-19 00:00,NR9 4DE,D,N,F,BRAMBLE COTTAGE,NaN,MILL ROAD,BARNHAM BROOM,NORWICH,SOUTH NORFOLK,NORFOLK,A,A
3,{9FF0D969-FE40-11ED-E053-6C04A8C06383},235000,2020-01-31 00:00,NR7 0YH,D,N,F,61,NaN,WINSTANLEY ROAD,NaN,NORWICH,BROADLAND,NORFOLK,A,A
4,{9FF0D969-FE41-11ED-E053-6C04A8C06383},186000,2020-01-31 00:00,PE32 1QJ,T,N,F,"DOVE COTTAGE, 2",NaN,LYNN ROAD,GAYTON,KING'S LYNN,KING'S LYNN AND WEST NORFOLK,NORFOLK,A,A

In [16]:
split_postcodes = prices_2020[3].str.split(expand=True)
prices_2020['Postcode district'] = split_postcodes[0]
prices_2020['Postcode end'] = split_postcodes[1]

In [17]:
prices_2020[2] = pd.to_datetime(prices_2020[2])

In [18]:
london_prices = prices_2020[prices_2020[11]=='LONDON']

In [19]:
london_prices.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,Postcode district,Postcode end
428,{A2479555-98A8-74C7-E053-6B04A8C0887D},880000,2020-02-21,SW19 2HS,D,N,F,29,NaN,PARK ROAD,NaN,LONDON,MERTON,GREATER LONDON,A,A,SW19,2HS
738,{A2479555-98B4-74C7-E053-6B04A8C0887D},767500,2020-02-21,SW17 9ER,T,N,F,268,NaN,LINKS ROAD,NaN,LONDON,MERTON,GREATER LONDON,A,A,SW17,9ER
741,{A2479555-98B7-74C7-E053-6B04A8C0887D},625000,2020-01-31,SW20 9JS,T,N,F,81,NaN,SPRINGFIELD AVENUE,NaN,LONDON,MERTON,GREATER LONDON,A,A,SW20,9JS
750,{A2479555-98C1-74C7-E053-6B04A8C0887D},2700000,2020-01-28,SW13 9RZ,S,N,F,21,NaN,WESTMORELAND ROAD,NaN,LONDON,RICHMOND UPON THAMES,GREATER LONDON,A,A,SW13,9RZ
751,{A2479555-98C2-74C7-E053-6B04A8C0887D},650000,2020-02-27,SW19 8PR,T,N,F,116,NaN,EFFRA ROAD,WIMBLEDON,LONDON,MERTON,GREATER LONDON,A,A,SW19,8PR

In [25]:
avg_prices = london_prices[['Postcode district',1]].groupby('Postcode district').mean().reset_index()
avg_prices[1] = avg_prices[1].astype(int)

In [2]:
# avg_prices.head()